.container
  .panel.panel-default
    .panel-heading
      .panel-title Sign-Up
    .panel-body
      p Please sign-up using your Twitter account {{authenticated}}
      button.btn.btn-default.btn-block(ng-click="authenticate()") Authenticate with Twitter
