#fileNewDialog
  .modal-header
    h3 File New
  .modal-body
    p.lead Add the new file dialog details here.
  .modal-footer
    button.btn.btn-primary(ng-click="create()") New File
    button.btn.btn-default(ng-click="dismiss()") Cancel
